@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h1>First Way</h1>
            @{ Html.RenderPartial("PView");}

        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
           
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
           
        </section>
    </div>
</main>